@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-weight: 400;
  --font-size: 16px;
  --font-family: Arial, Helvetica, sans-serif;

  --color-primary-100: #c1c2c5;
  --color-primary-200: #acaeb2;
  --color-primary-300: #989a9f;
  --color-primary-400: #83858c;
  --color-primary-500: #6e7179;
  --color-primary-600: #595d65;
  --color-primary-700: #454852;
  --color-primary-800: #30343f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
}

body {
  background: var(--background);
  color: var(--foreground);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);

  min-height: 100vh;
}
